@model CustomerTaskViewModel
@{
}
<form asp-controller="CustomerTask" asp-action="CreateTask" method="post" asp-antiforgery="true">
    <div class="row">   
        <div class="col-6 pb-3">
            <div class="col pb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="col pb-3">
                <div class="row">
                    <div class="col">
                        <label asp-for="TaskDate" class="form-label"></label>
                        <input asp-for="TaskDate" class="form-control" />
                    </div>
                    <div class="col">
                        <label asp-for="PerformedUsers" class="form-label"></label>
                        <select class="form-select" asp-for="PerformedUsers" asp-items="@ViewBag.PossibleUsers" ></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 pb-3">
            <label asp-for="Text" class="form-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
        </div>
        <div class="col-12 pb-3">
            <div id="map" style="height:500px;" class="w-50">
            </div>
        </div>
        <div class="col text-center">
            <button class="btn btn-primary w-50">Add Task</button>
        </div>
    </div>
</form>

<script>
    tasksManager.initCrtTask();
</script>
